/* .post-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color-uno{
    background-color: rgb(27, 121, 206);
    margin: 2% 0;
    padding: 5%;
    width: 50%;
    color: rgb(220, 220, 220);
    font-size: 1.7vw;
    font-family: sans-serif;
    border-radius: 50px;
}
.color-dos{
    background-color: rgb(238, 108, 0);
    margin: 2% 0;
    padding: 5%;
    width: 50%;
    color: rgb(220, 220, 220);
    font-size: 1.7vw;
    font-family: sans-serif;
    border-radius: 50px;
} */